* {
    box-sizing: border-box;
}

:root {
    --color-primary: #7264d6;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Open Sans";
    font-size: 1.6rem;
}

/* common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.logo {
    display: flex;
    align-items: center;
    gap: 7px;
}

.logo::after {
    content: "CeloBank";
    color: #212832;
    font-family: "Open Sans";
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 113px;
    height: 52px;
    border-radius: 6px;
    background: #212832;
}

a {
    display: inline-block;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.heading-level-1 {
    color: #212832;
    font-size: 6rem;
    font-weight: 900;
    line-height: 1.3; /* 116.667% */
}

.heading-level-2 {
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25; /* 125% */
}

.title {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #696d77;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.title::before {
    display: inline-block;
    content: "";
    width: 18px;
    height: 2px;
    background: #696d77;
}
/* header */

.header {
    padding: 42px 0 8px;
    background-color: #fff;
    position: sticky;
    top: -34px;
    left: 0;
    z-index: 999;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_group-row {
    display: flex;
    align-items: center;
    gap: 46.5px;
}

.nav-bar__list {
    display: flex;
    align-items: center;
}

.nav-bar__item {
    height: 52px;
    line-height: 52px;
    text-align: center;
    padding: 0 23.5px 0 23.5px;
    transition: font-weight ease 0.1s;
}

.nav-bar__item::before {
    display: block;
    content: attr(title);
    height: 0;
    font-weight: 600;
    overflow: hidden;
    visibility: hidden;
}

.nav-bar__item:hover {
    font-weight: 600;
}

.nav-bar__item--active {
    font-weight: 600;
    position: relative;
}

.nav-bar__item--active::after {
    position: absolute;
    bottom: 11px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    content: "";
    width: 47px;
    height: 1px;
    border-radius: 0.5px;
    background: #7264d6;
}

.header__group-actions {
    display: flex;
    gap: 28px;
    align-items: center;
}

.header__log-in {
    color: #212832;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
    transition: color ease 0.1s;
}

.header__log-in:hover {
    color: var(--color-primary);
}

.header__sign-up {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 550;
    line-height: 1.75; /* 175% */
    transition: opacity ease 0.2s;
}

.header__sign-up:hover {
    opacity: 0.7;
}

/* hero */
.hero {
    margin-top: 68px;
}

.main-hero {
    display: flex;
}

.hero-content {
    width: 46.2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__heading {
    margin-top: 12px;
    width: 500px;
}

.hero__heading strong {
    color: var(--color-primary);
}

.hero__desc {
    margin-top: 20px;
    width: 540px;
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.hero__email {
    position: relative;
    margin-top: 40px;
    width: 540px;
    height: 74px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero__input-email {
    display: block;
    padding: 23px 160px 23px 23px;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
}

.hero__input-email,
.hero__input-email::placeholder {
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.hero__btn {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    min-width: 149px;
    height: 58px;
    border-radius: 8px;
    background: #7264d6;

    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
    transition: opacity linear 0.25s;
}

.hero__btn:hover {
    opacity: 0.7;
}

.hero__notice {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71; /* 171.429% */
}

.hero-phone {
    position: relative;
    width: 53.8%;
    display: flex;
    justify-content: center;
}

.hero-phone__layout {
    padding: 40px 11px 0;
    position: relative;
    margin-right: 7px;
    width: 296px;
    height: 562px;
    border-radius: 40px;
    border: 12px solid #212832;
    background: #fff;
}

.hero-phone__card {
    padding: 16px;
    width: 250px;
    height: 150px;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.hero-phone__row {
    display: flex;
    justify-content: space-between;
}

.hero-phone__title {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
}

.hero-phone__card strong {
    margin-top: 2px;
    display: inline-block;
    color: #fff;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: normal;
}

.hero-phone__master-info {
    margin-top: 32px;
    display: flex;
    gap: 12px;
}

:is(.hero-phone__valid, .hero-phone__name) {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

:is(.hero-phone__valid, .hero-phone__name) span:first-child {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
}

:is(.hero-phone__valid, .hero-phone__name) span:last-child {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: normal;
}

.hero-phone__card::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: "";
    width: 250px;
    height: 150px;
    border-radius: 20px;
    background: linear-gradient(76deg, #8679e4 11.52%, #7264d6 70.78%);
}

.hero-phone__round-1 {
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 20px;
    z-index: -1;
}

.hero-phone__round-2 {
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 20px;
    z-index: -1;
}

.hero-phone__group {
    margin-top: 24px;
}

.hero-phone__list {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.hero-phone__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-phone__group-left {
    display: flex;
    align-items: center;
    gap: 24px;
}

.hero-phone__group-left img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.hero-phone__group-content {
    margin-left: -8px;
}

:is(.hero-phone__group-content, .hero-phone__group-right) span:first-child {
    color: #212832;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

:is(.hero-phone__group-content, .hero-phone__group-right) span:last-child {
    color: #696d76;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1; /* 100% */
    white-space: nowrap;
}

.hero-phone__group-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 6px;
}

.hero-phone__layout::before {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 144px;
    height: 36px;
    border-radius: 0px 0px 18px 18px;
    background: #3c2f60;
}

.hero-phone__circle {
    position: absolute;
    top: 127px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #da6464;
    z-index: 3;
}

.hero-phone__circle strong {
    color: #fff;
    font-size: 4.4rem;
    font-weight: 600;
    line-height: normal;
}

.hero-phone__circle span {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
}

.hero-phone__secured {
    position: absolute;
    right: 100px;
    bottom: 61px;
    display: flex;
    align-items: center;
    gap: 11px;
    padding: 20px 0 22px 14px;
    width: 124px;
    height: 68px;
    border-radius: 10px;
    background: #439f90;
    z-index: 3;
}

.hero__column {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hero-phone__secured strong {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.hero-phone__secured span {
    color: #fff;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.hero__deposited {
    position: absolute;
    top: 113px;
    left: 60px;
    padding: 14px 10px;
    display: flex;
    align-items: center;
    width: 174px;
    height: 46px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
    z-index: 3;
}

.hero__download {
    width: 18px;
    height: 18px;
}

.hero__deposited span {
    margin-left: 8px;
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.hero__deposited strong {
    margin-left: 19px;
    color: #4ab5e3;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

/* service */
.service {
    margin-top: 160px;
}

.main-service {
    display: flex;
    align-items: center;
}

.service__images {
    width: 59.8%;
    position: relative;
}

.service__img {
    position: relative;
    left: 7px;
    vertical-align: bottom;
}

.service__img-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.service__img-logo {
    position: absolute;
    top: 76px;
    left: 337px;
}

.service__group-trend {
    position: absolute;
    left: 334px;
    bottom: 96px;
    padding: 15px;
    display: flex;
    gap: 10px;
    align-items: center;
    width: 226px;
    height: 70px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.service-group__content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.service-group__subtitle {
    color: #212832;
    font-family: Inter;
    font-size: 1.4ren;
    font-weight: 600;
    line-height: normal;
}

.service-group__desc {
    color: #696d76;
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: normal;
}

.service__content {
    width: 40.2%;
}

.service__heading {
    margin-top: 12px;
    width: 294px;
}

.service__list {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.service__item {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.service__subtitle {
    color: #212832;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.46; /* 145.455% */
}

.service__desc {
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

/* features-1 */
.features-1 {
    margin-top: 160px;
}

.main-feature-1 {
    display: flex;
    align-items: center;
}

.feature-1__content {
    padding-right: 130px;
    width: 51.3%;
}

.features-1__heading {
    margin-top: 12px;
}

.features-1__desc {
    margin-top: 20px;
    color: #696d76;
    font-family: "Open Sans";
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.features-1__list {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.features-1__item {
    color: #212832;
    font-family: "Open Sans";
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
    display: flex;
    gap: 12px;
    align-items: center;
}

.features-1__item::before {
    display: inline-block;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #7264d6;
}

.features-1__btn {
    margin-top: 40px;
    width: 149px;
    height: 58px;
    border-radius: 8px;
    background: #212832;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
    transition: opacity linear 0.25s;
}

.features-1__btn:hover {
    opacity: 0.7;
}

.features-1__card {
    width: 48.7%;
    position: relative;
}

.features-phone__card {
    padding: 38px;
    width: 482px;
    height: 322px;
    position: relative;
    z-index: 2;
}

.features-phone__row {
    display: flex;
    justify-content: space-between;
}

.features-phone__title {
    color: #fff;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: normal;
}

.features-phone__master {
    width: 80px;
    height: 48px;
}

.features-phone__card strong {
    margin-top: 10px;
    display: inline-block;
    color: #fff;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: normal;
}

.features-phone__master-info {
    margin-top: 98px;
    display: flex;
    gap: 26px;
}

:is(.features-phone__valid, .features-phone__name) {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

:is(.features-phone__valid, .features-phone__name) span:first-child {
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
    line-height: normal;
}

:is(.features-phone__valid, .features-phone__name) span:last-child {
    color: #fff;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: normal;
}

.features-phone__card::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: "";
    width: 482px;
    height: 322px;
    border-radius: 20px;
    background: linear-gradient(76deg, #8679e4 11.52%, #7264d6 70.78%);
}

.features-phone__round-1 {
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 20px;
    z-index: -1;
}

.features-phone__round-2 {
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 20px;
    z-index: -1;
}

.features-phone__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 276px;
    height: 86px;
    position: absolute;
    top: -48px;
    right: 0;
    padding: 23px 13px;
    z-index: 3;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}

.features-phone__group-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.features-phone__group-left img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.features-phone__group-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.features-phone__group-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 6px;
}

:is(.features-phone__group-content, .features-phone__group-right)
    span:first-child {
    color: #212832;
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: normal;
}

:is(.features-phone__group-content, .features-phone__group-right)
    span:last-child {
    color: #696d76;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
}

.features-phone__group {
    position: absolute;
    right: 0;
    bottom: -55px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    padding: 14px 15px;
    width: 120px;
    height: 120px;
    border-radius: 16px;
    background: #439f90;
}

.features-phone__group img {
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 4px;
}

.features-phone__group span {
    margin-top: 12px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: normal;
}

.features-phone__group strong {
    margin-top: 6px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}
